body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
  }
  
  .nav {
    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-links {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-right: 3%;
  }
  
  .menu-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  li a {
    text-decoration: none;
    color: black;
  } 
  
  .menu-links li {
    font-weight: bold;
    font-size: 3px;
    margin-left: 15px;
    list-style: none;
    text-decoration: none;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: 800;
    font-family:'Montserrat', sans-serif;
  }
  
  .content {
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  .tagline {
    margin-top: 35px;
    font-size: 1.3rem;
    color: rgb(142, 142, 142);
  }
  
  .title {
    font-size: 9rem;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
  }
  
  .desc {
    width: 30%;
  }
  
  .desc1 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .desc2 {
    font-size: 3px;
    line-height:1rem;
  }
  
  span {
    color: rgb(115, 171, 114);
    font-size: 1.2rem;
  }
  
  .beer {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
  .beer img {
    width: 80%;
  }